/* Increase content width to full screen */
.wy-nav-content {
    max-width: 95% !important;
    /* Adjust percentage as needed */
    margin: 0 auto;
    /* Center content */
}

/* Adjust tables to be responsive */
.wy-table-responsive table {
    width: 100% !important;
}

/* Make code blocks use full width */
.wy-nav-content-wrap pre {
    white-space: pre-wrap !important;
}

.document {
    margin: 0;
}